{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}
	Index
{% endblock %}
{% block body_block %}
    <div>
    <h1>Rango says...</h1>       
    {% if user.is_authenticated %}
        howdy {{ user.username }}!
    {% else %}
        hey there partner!
    {% endif %}
    </div>
    <ul>
    {% if user.is_authenticated %}
        <li><a href="{% url 'restricted' %}">Restricted Page</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
    {% else %}
        <li><a href="{% url 'login' %}">Sign In</a></li>
        <li><a href="{% url 'register' %}">Sign Up</a></li>
    {% endif %}
        <li><a href="{% url 'add_category' %}">Add a New Category</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'index' %}">Index</a></li>
    </ul>
		
			
    <img src="{% static "images/rango.jpg" %}" alt="Picture of Rango" /> 
		
{% endblock %}
